<body>

    <h1> Welcome back, <%- username%></h1>

    <div class=" flex flex-row justify-between">
        <h1>Update Credentials</h1>
        <i class="fa fa-plus" style="width: 40px; height: 100%;" aria-hidden="true"></i>
        <i class="fa fa-minus hidden" style="width: 40px; height: 100%;" aria-hidden="true"></i>
    </div>

    <!-- Update credential form-->
    <div id="credentialsDiv" class="hidden"> hello</div>

    <div class="flex justify-center">
        <button class="signoutBtn  text-black bg-blue-100 w-fit rounded-md drop-shadow-lg
                    hover:text-white hover:bg-slate-900 m-1 p-0.5 "> signout</button>
    </div>
    
  
</body>