<body>

    <h1> Welcome back, <%- userName%></h1>

    <div id='calendar'></div>
    <div class="flex justify-center">
        <button class="signoutBtn  text-black bg-blue-100 w-fit rounded-md drop-shadow-lg
                    hover:text-white hover:bg-slate-900 m-1 p-0.5 "> signout</button>
    </div>
    
  
</body>