<body>
    <h1 class="text-xl text-red-900 font-bold m-1"> Welcome to the Exercises Hub!</h1>
        <h2 class="text-md text-red-900 m-1"> Explore our drills and start improving your game, one step at a time!"</h2>

    <% for(var exercise of exercises) { %>
        <button class="flex flex-col bg-white drop-shadow-lg  rounded-md m-2 cursor-pointer border-b-2 border-black  hover:bg-cyan-200 ">
            <h1 class="text-black text-lg text-left p-1 cursor-pointer w-full "> <%= exercise.title %></h1>
            <div class="flex flex-row justify-start">
                <p class="text-sm text-start text-black p-2 border-r-2 w-fit"> <%= exercise.category %></p>
                <p class="text-sm text-start text-black p-2 border-r-2 w-fit"> <%= exercise.skillLevel %></p>
            </div>
        </button>
    <% } %>
    
</body>

