<body>
    <div class="py-2">
        <h1 class="text-xl text-red-900 font-bold"> Get ready to train smarter.</h1>
        <h2 class="text-md text-red-900"> Join today to track and transform your skills!"</h2>

    </div>
    
    <!-- signup form-->
    <div class="flex justify-center p-4 ">
        <form id="signupForm" method="post" class="flex flex-col justify-center gap-2">
            <input type="text" class=" p-0.5 rounded-md border-2 drop-shadow-lg "  name="username" placeholder="username">
            <input type="email" class=" p-0.5 rounded-md border-2 drop-shadow-lg "  name="email" placeholder="email">
            <input type="password" class=" p-0.5 rounded-md  border-2 drop-shadow-lg "  name="password" placeholder="password">
            <input type="submit" class="rounded-md bg-slate-50 drop-shadow-lg w-fit mx-auto px-0.5 py-0.5" value="Submit">
        </form>
    </div>

    <div id="loginMessage" class="flex justify-center text-center m-1 w-full">
    </div>

    <!-- login  redirect-->
     <div class="flex flex-row justify-center">
        <p class="px-1 "> If you already have an account</p>
        <a href="/login" class="text-blue-500 hover:text-purple-500"> Log in</a>
     </div>  

     
</body>