<link href="/css/main.css" rel="stylesheet">


<div id= "burgerMenu" class=" flex flex-col flex-wrap flex-grow w-full h-30px py-0.5 hidden">
    <a href="/home" class="bg-gray-950 text-white hover:bg-white hover:text-slate-950">Home</a>
    <a href= "/exercises" class="bg-gray-950 text-white hover:bg-white hover:text-slate-950"> Exercises</a>
    <a href="/position-plans" class="bg-gray-950 text-white hover:bg-white hover:text-slate-950"> Position Plans</a>
</div>