<link href="/css/main.css" rel="stylesheet">

<button type="button" class=" text-black bg-blue-100 w-fit rounded-md drop-shadow-lg
                hover:text-white hover:bg-slate-900 ">
     <p class="px-0.5">Check it out!</p>
</button>