<link href="/css/main.css" rel="stylesheet">

<footer class="text-white flex justify-center items-center w-full p-1 mt-2 bg-gray-600" >
    <p>&copy; <span id="year"></span> Basketball learning platform. All rights reserved.</p>
</footer>