<link href="/css/main.css" rel="stylesheet">

<footer class="text-gray-800 flex w-full m-0 object-bottom" >
    <p>&copy; <span id="year"></span> Basketball learning platform. All rights reserved.</p>
</footer>