<link href="/css/main.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
        <ul class="flex justify-between relative w-full h-10 overflow-hidden">
            <li><i class="fa fa-bars cursor-pointer hover:bg-slate-600" style="width: 40px; height: 100%; display: flex; align-items: center; justify-content: center;"></i>
            </li>
            <li class=" flex flex-grow items-center justify-center bg-gray-600 h-10 z-0 text-center">
                <h4 class="text-center text-white"> Basketball Learning Platform</h4>
            </li>
            <li><i class="fa fa-user cursor-pointer hover:bg-slate-600" style="width: 40px; height: 100%; display: flex; align-items: center; justify-content: center;"></i></li>
        </ul>
</header>
