<link href="/css/main.css" rel="stylesheet">

<header>
        <ul class="flex justify-between relative w-full h-10 overflow-hidden">
            <li> <button class="cursor-pointer" style="width: 40px; height: 100% ;" > <img src="/images/burger-menu.png" alt="Hamburger menu" ></button></li>
            <li class=" flex flex-grow items-center justify-center bg-gray-600 h-10 z-0 text-center">
                <h4 class="text-center text-white"> Basketball Learning Platform</h4>
            </li>
            <li> <button class="cursor-pointer" style="width: 40px; height: 100%;" > <img src="/images/profile-icon.png" alt="profile"></button></li>
        </ul>
</header>
