<header class="header">
    <button class ="burgerMenu-btn" aria-label="Burger Menu">
        <img src="https://cdn4.iconfinder.com/data/icons/navigation-40/24/hamburger-menu-512.png" alt="Burger Menu" class="burgerMenu-img">
    </button>

   <div class="header-bg-img"></div>
    <div class="header-text">
        <h4> Basketball learning platform</h4>
    </div>
   
   
    <button class="profile-btn" aria-label="User Profile">
        <img src="https://th.bing.com/th/id/R.3acddd96809373e254a8e6a0b5939754?rik=CfHBzmOotm%2fhog&riu=http%3a%2f%2fwww.pngall.com%2fwp-content%2fuploads%2f5%2fUser-Profile-PNG-Free-Download.png&ehk=Y4PdD7AE%2fHJpnZsPko97b8LANnHWtZJ1GIfmuNyuY2M%3d&risl=&pid=ImgRaw&r=0" alt="User Profile" class="profile-img">
    </button>
</header>