<link href="/css/main.css" rel="stylesheet">


<div id="profileMenu" class=" flex flex-col flex-wrap flex-grow w-full h-30px py-0.5 text-right hidden">
    <a href="/log-in" class="bg-gray-950 text-white hover:bg-white hover:text-slate-950">Log-in </a>
    <a href= "/profile" class="bg-gray-950 text-white hover:bg-white hover:text-slate-950 ">Profile </a>
    <a href="/history" class="bg-gray-950 text-white hover:bg-white hover:text-slate-950">History </a>
</div>