<link href="/css/main.css" rel="stylesheet">



<div id="profileMenu" class=" flex flex-col flex-wrap flex-grow w-full h-30px text-right hidden">
    <% if (!isLoggedIn) { %>
        <button type="button" class=" loginBtn bg-slate-600 text-white hover:bg-white hover:text-slate-950 text-right">Log-in </button>
      <% } else { %>
        <button type="button" class="signoutBtn bg-slate-600 text-white hover:bg-white hover:text-slate-950 text-right">Sign Out </button>
      <% } %>
    <button type="button"  class=" profileBtn bg-slate-600 text-white hover:bg-white hover:text-slate-950 text-right ">Profile </button>
   
</div>